<footer class="pt-6 border-t-2 border-dashed border-orange-300">
  <!-- Top section: Info and logo -->
  <div
    class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center md:items-center gap-6"
  >
    <!-- Customer Service Info -->
    <div
      class="flex flex-col text-sm font-semibold text-gray-600 md:text-left text-center"
    >
      <h3>Customer Service: +6013-333 3333</h3>
      <h3>Working Hours:</h3>
      <h3>Tuesday - Friday 10:00am to 8:00pm</h3>
      <h3>Saturday & Sunday 12:00pm to 6:00pm</h3>
    </div>

    <!-- Location Info -->
    <div
      class="flex flex-col text-sm font-semibold text-gray-600 md:text-left text-center"
    >
      <h3>Location:</h3>
      <h3>No. 1, Persiaran Cakerawala</h3>
      <h3>40150 Shah Alam, Selangor</h3>
    </div>

    <!-- Logo -->
    <div>
      <img
        src="/logo.png"
        alt="L&B Pet Service Logo"
        width="160"
        height="160"
        routerLink="/home"
        class="cursor-pointer"
      />
    </div>
  </div>

  <!-- Bottom section: Copyright -->
  <div class="mt-6 py-3 bg-orange-300/40">
    <p class="text-center text-sm text-gray-700 font-medium">
      &copy; 2025 L&B Pet Service. All rights reserved.
    </p>
  </div>
</footer>
