<nav
  class="bg-orange-300 h-12 border-t-2 flex items-center justify-between relative"
>
  <ul
    class="flex gap-4 text-xl font-[600] leading-none absolute left-1/2 transform -translate-x-1/2"
  >
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/jobs">Jobs/Services</a></li>
    <li><a routerLink="/market">Community Market</a></li>
    <li><a routerLink="/products">Products</a></li>
    <li><a routerLink="/forum">Forum</a></li>
    <lucide-icon name="search" class="cursor-pointer"></lucide-icon>
  </ul>
  <div class="flex gap-3 flex-1 justify-end pr-3">
    <div class="flex">
      <lucide-icon
        name="shopping-cart"
        routerLink="/cart"
        class="cursor-pointer"
      ></lucide-icon>
      <h1 class="pl-0.5">1</h1>
    </div>
    <div class="relative dropdown-menu" (click)="toggleDropdown($event)">
      <ng-container *ngIf="isLoggedIn(); else loginIcon">
        <img
          [src]="avatar"
          alt="user img"
          class="cursor-pointer w-6 h-6 rounded-full"
        />
      </ng-container>
      <ng-template #loginIcon>
        <lucide-icon
          name="circle-user-round"
          routerLink="/login"
          class="cursor-pointer w-6 h-6"
        ></lucide-icon>
      </ng-template>
      <div
        *ngIf="dropdownOpen"
        class="absolute right-0 mt-2 w-48 bg-white border rounded shadow-lg z-100"
      >
        <ul>
          <li>
            <span class="border-b-1 block px-4 py-1 text-gray-800 text-center"
              >Welcome, {{ username }}</span
            >
          </li>
          <li>
            <a
              routerLink="/profile"
              class="block px-4 py-2 text-gray-800 hover:bg-gray-300 ease-in-out duration-300"
              >Profile</a
            >
          </li>
          <li>
            <button
              class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-gray-300 cursor-pointer ease-in-out duration-300"
              (click)="logout()"
              [disabled]="!isUserInfoComplete()"
              [class.bg-gray-200]="!isUserInfoComplete()"
            >
              Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
