<section class="">
  <div class="flex justify-center items-center py-15">
    <form class="border-1 rounded-xl w-xl">
      <h1 class="text-3xl font-bold py-6 text-center">Login</h1>
      <div class="flex flex-col p-10 gap-5">
        <div class="flex flex-col gap-3">
          <label for="email">Email</label>
          <input
            class="border-1 rounded-sm h-10 px-3"
            type="email"
            id="email"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="flex flex-col gap-3">
          <label for="password">Password</label>
          <input
            class="border-1 rounded-sm h-10 px-3"
            type="password"
            id="password"
            placeholder="Enter your password"
            required
          />
        </div>
        <div class="flex flex-col justify-center items-center gap-3">
          <button
            class="border-2 border-orange-700 w-full h-10 cursor-pointer rounded-sm hover:bg-orange-700 ease-in-out duration-300"
            type="submit"
          >
            Login
          </button>

          <div class="flex items-center gap-2 w-full">
            <hr class="flex-1 border-gray-300" />
            <p class="text-gray-700 font-semibold">OR</p>
            <hr class="flex-1 border-gray-300" />
          </div>

          <div class="flex w-full gap-5">
            <button
              class="border-2 border-blue-800 w-full h-10 cursor-pointer rounded-sm flex justify-center items-center hover:bg-blue-800 ease-in-out duration-300"
            >
              <img src="/microsoft_logo.png" alt="Microsoft Logo" width="25" />
            </button>
            <button
              class="border-2 border-blue-800 w-full h-10 cursor-pointer rounded-sm flex justify-center items-center hover:bg-blue-800 ease-in-out duration-300"
            >
              <img src="/google_logo.png" alt="Google Logo" width="25" />
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
