<section class="flex justify-center items-start py-20 min-h-screen">
  <form
    class="border-1 border-gray-400 rounded-xl w-xl shadow-[0_0px_35px_rgba(0,0,0,0.25)]"
  >
    <div class="relative py-6">
      <button
        *ngIf="currentStep === 2"
        type="button"
        (click)="previousStep()"
        class="absolute ml-10 top-1/2 transform -translate-y-1/2 cursor-pointer"
      >
        <lucide-icon name="chevron-left"></lucide-icon>
      </button>
      <h1 class="text-3xl font-bold text-center">Sign Up</h1>
    </div>

    <!--First Form------------------------------------------------------------------------------------->
    <div *ngIf="currentStep === 1" class="flex flex-col px-10 py-5 gap-5">
      <div class="flex flex-col gap-3">
        <label for="username">Username</label>
        <input
          class="border-1 rounded-sm h-10 px-3"
          type="text"
          id="username"
          name="username"
          placeholder="Enter your username"
          [(ngModel)]="username"
          [ngClass]="{ 'border-red-500': isFieldInvalid('username') }"
          required
        />
        <span
          *ngIf="isFieldInvalid('username')"
          class="text-red-500 text-xs leading-0"
          >Username is required</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <label for="email">Email</label>
        <input
          class="border-1 rounded-sm h-10 px-3"
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          [(ngModel)]="email"
          [ngClass]="{
            'border-red-500': isFieldInvalid('email') || emailExists
          }"
          required
        />
        <span
          *ngIf="isFieldInvalid('email')"
          class="text-red-500 text-xs leading-0"
          >Email is required</span
        >
        <span *ngIf="emailExists" class="text-red-500 text-xs leading-0"
          >Email already exists. Please use a different email address.</span
        >
      </div>

      <div class="flex flex-col gap-3">
        <label for="password">Password</label>
        <input
          class="border-1 rounded-sm h-10 px-3"
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          [(ngModel)]="password"
          [ngClass]="{ 'border-red-500': isFieldInvalid('password') }"
          required
        />
        <span
          *ngIf="isFieldInvalid('password')"
          class="text-red-500 text-xs leading-0"
          >Password is required</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <label for="confirmPassword">Confirm Password</label>
        <input
          class="border-1 rounded-sm h-10 px-3"
          type="password"
          id="password"
          name="confirmPassword"
          placeholder="Enter your password"
          [(ngModel)]="confirmPassword"
          [ngClass]="{
            'border-red-500':
              isFieldInvalid('confirmPassword') || passwordMismatch
          }"
          required
        />
        <span
          *ngIf="isFieldInvalid('confirmPassword')"
          class="text-red-500 text-xs leading-0"
          >Confirm password is required</span
        >
        <span *ngIf="passwordMismatch" class="text-red-500 text-xs leading-0"
          >Passwords do not match</span
        >
      </div>
      <div class="flex flex-col justify-center items-center gap-3">
        <button
          class="border-2 border-orange-700 w-full h-10 text-orange-700 cursor-pointer rounded-sm hover:bg-orange-700 hover:text-gray-100 ease-in-out duration-300"
          type="button"
          (click)="submit()"
        >
          Next
        </button>
        <!-- Error Message -->
        <div *ngIf="errorMessage" class="text-red-500 text-center">
          {{ errorMessage }}
        </div>
      </div>
    </div>

    <!--Second Form------------------------------------------------------------------------------------->
    <div *ngIf="currentStep === 2" class="flex flex-col px-10 py-5 gap-5">
      <div class="flex flex-col gap-3">
        <label for="gender">Gender</label>
        <select
          class="border-1 rounded-sm h-10 px-3"
          name="gender"
          [(ngModel)]="gender"
          [ngClass]="{ 'border-red-500': isFieldInvalid('gender') }"
          required
        >
          <option selected disabled value="">Select your gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
        <span
          *ngIf="isFieldInvalid('gender')"
          class="text-red-500 text-xs leading-0"
          >Gender is required</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <label for="contactNo">Contact No</label>
        <input
          class="border-1 rounded-sm h-10 px-3"
          type="text"
          id="contactNo"
          name="contactNo"
          placeholder="Enter your contact number +60"
          [(ngModel)]="contactNo"
          [ngClass]="{ 'border-red-500': isFieldInvalid('contactNo') }"
          (input)="validateNumberInput($event)"
          required
        />
        <span
          *ngIf="isFieldInvalid('contactNo')"
          class="text-red-500 text-xs leading-0"
          >Contact Number is required</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <label for="address">Address line 1</label>
        <input
          class="border-1 rounded-sm h-10 px-3"
          type="text"
          id="address1"
          name="address1"
          placeholder="Address line 1"
          [(ngModel)]="address1"
          [ngClass]="{ 'border-red-500': isFieldInvalid('address1') }"
          required
        />
        <span
          *ngIf="isFieldInvalid('address1')"
          class="text-red-500 text-xs leading-0"
          >Address1 is required</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <label for="address">Address line 2 (optional)</label>
        <input
          class="border-1 rounded-sm h-10 px-3"
          type="text"
          id="address2"
          name="address2"
          placeholder="Address line 2"
          [(ngModel)]="address2"
          required
        />
      </div>
      <div class="flex flex-row gap-6">
        <div class="flex flex-col gap-3 w-full">
          <label for="city">City</label>
          <select
            class="border-1 rounded-sm h-10 px-3"
            type="text"
            id="city"
            name="city"
            placeholder="City"
            [(ngModel)]="city"
            [ngClass]="{ 'border-red-500': isFieldInvalid('city') }"
            required
          >
            <option selected disabled value="">Select your city</option>
            <option
              *ngFor="let cityOption of filteredCities"
              [value]="cityOption"
            >
              {{ cityOption }}
            </option>
          </select>
          <span
            *ngIf="isFieldInvalid('city')"
            class="text-red-500 text-xs leading-0"
            >City is required</span
          >
        </div>
        <div class="flex flex-col gap-3 w-full">
          <label for="state">State</label>
          <select
            class="border-1 rounded-sm h-10 px-3"
            type="text"
            id="state"
            name="state"
            placeholder="State"
            [(ngModel)]="state"
            [ngClass]="{ 'border-red-500': isFieldInvalid('state') }"
            (ngModelChange)="onStateChange()"
            required
          >
            <option selected disabled value="">Select your state</option>
            <option
              *ngFor="let stateOption of malaysiaStates"
              [value]="stateOption"
            >
              {{ stateOption }}
            </option>
          </select>
          <span
            *ngIf="isFieldInvalid('state')"
            class="text-red-500 text-xs leading-0"
            >State is required</span
          >
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <label for="country">Country</label>
        <select
          class="border-1 rounded-sm h-10 px-3"
          name="country"
          [(ngModel)]="country"
          [ngClass]="{ 'border-red-500': isFieldInvalid('country') }"
          required
        >
          <option selected disabled value="">Select your country</option>
          <option value="Malaysia">Malaysia</option>
        </select>
        <p class="text-xs px-3 leading-0.5">
          ⚠ L&B Pet Service only available in Malaysia right now
        </p>
        <span
          *ngIf="isFieldInvalid('country')"
          class="text-red-500 text-xs leading-0"
          >Country is required</span
        >
      </div>

      <div class="flex flex-col gap-3 [-moz-appearance:textfield]">
        <label for="zip">ZIP/Postcode</label>
        <input
          class="border-1 rounded-sm h-10 px-3"
          type="number"
          id="zip"
          name="zip"
          placeholder="ZIP/Postcode"
          [(ngModel)]="zip"
          [ngClass]="{ 'border-red-500': isFieldInvalid('zip') }"
          required
        />
        <span
          *ngIf="isFieldInvalid('zip')"
          class="text-red-500 text-xs leading-0"
          >ZIP/Postcode is required</span
        >
      </div>

      <div class="flex flex-col gap-3 w-full">
        <div class="flex text-sm">
          <input
            class="mx-1"
            type="checkbox"
            name="termsAccepted"
            [(ngModel)]="termsAccepted"
            [ngClass]="{ 'border-red-500': isFieldInvalid('termsAccepted') }"
            required
          />
          <label
            >Yes, I have read and I accept the
            <a
              routerLink="/login"
              class="cursor-pointer font-bold text-orange-700"
            >
              Terms and Conditions.</a
            >
          </label>
        </div>
        <span
          *ngIf="isFieldInvalid('termsAccepted')"
          class="text-red-500 text-xs leading-0"
          >Terms and Conditions must be accept</span
        >
      </div>

      <div class="flex flex-col justify-center items-center gap-3">
        <button
          class="border-2 border-orange-700 w-full h-10 text-orange-700 cursor-pointer rounded-sm hover:bg-orange-700 hover:text-gray-100 ease-in-out duration-300"
          type="submit"
          (click)="submit()"
        >
          Sign Up
        </button>
        <!-- Error Message -->
        <div *ngIf="errorMessage" class="text-red-500 text-center">
          {{ errorMessage }}
        </div>
      </div>
    </div>
    <!-- Alert Overlay -->
    <div
      *ngIf="alertMessage"
      class="fixed inset-0 flex items-center justify-center transition-opacity duration-300 animate-fade"
    >
      <div
        class="p-6 rounded-lg shadow-lg text-white text-center transform transition-all duration-300 scale-95 animate-fadeIn"
        [ngClass]="{
          'bg-green-500': alertType === 'success',
          'bg-red-500': alertType === 'error'
        }"
      >
        <p class="text-lg font-semibold">{{ alertMessage }}</p>
        <button
          class="mt-4 px-4 py-2 bg-white text-black rounded-lg"
          (click)="alertMessage = ''"
        >
          OK
        </button>
      </div>
    </div>
  </form>
</section>
