@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

@theme {
  --font-primary: "Palanquin", "sans-serif"; /* title */
  --font-secondary: "Montserrat", "sans-serif"; /* base */
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: red;
  }

  /* For input when hover or select */
  .hover-selection {
    @apply hover:ring-2
    hover:ring-orange-300
    hover:border-orange-300
    ease-in-out
    duration-300
    focus:ring-2 
    focus:ring-orange-700 
    focus:border-orange-700
     focus:outline-hidden;
  }
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
  }
}
